@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,500;1,700&display=swap'); /* importe la police Raleway (Regular+Bold+italic) */
*{
    box-sizing: border-box;   /* width de l'élément= largeur du contenu + padding +border -> pas de marge extérieur sur tous les élements */
    font-family: "Raleway","sans-serif";
 }

body
{
  max-width: 1440px;
  margin: auto;
}

/* Header desktop*/

header
{
  margin-left: 34px;
}

#head
{
  display : flex;
  justify-content:space-between;
  margin-bottom: 30px;
}
 
header img
{
  width: 90px;
  height: 45px;
  margin-top: 40px;
  margin-left: 15px;
}

header nav
{
  width: 320px;
}

header form
{
  display: flex;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: 100px;
}

header nav
{
  width: 450px;
}

header ul
{
  display: flex;
  padding: 0 0 0 155px;
}

header li
{
  width: 50%;
  text-align: center;
  font-size: 15px;
  padding: 40px 0 0 0;
}

header a:hover
{
  color: #0065FC;
}

header li:hover
{
  border-top: 3px #0065FC solid;
  border-color: #0065FC;
}

header h1
{
  width: 574px;
  height: 21px;
  font-size: 21px;
}

header p
{
  width: 290px;
  height: 15px;
  font-size: 15px;
}



/* Header - search form - desktop */

#position-form
{
  display: flex;
  height: 45px;
  width: 45px;
  border: 1px #F2F2F2 solid;
  border-radius: 18px 0 0 18px;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: center;
}

input[ type="search"]
{
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  height: 45px;
  padding-left: 10px;
  border: 1px #F2F2F2 solid;
}

#loop
{
  display: none;
}

input[type="button"]
{
  height: 45px;
  background-color: #0065FC;
  font-size: 15px;
  width: 120px;
  color: white;
  border:1px white solid;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}

/* MAIN - desktop */

main
{
  margin-left: 34px;
  margin-right: 20px;
}

/* Filters section - desktop */ 

main section:first-child
{
  display: flex;
  padding-left: 8px;
  margin-top: 25px;
  margin-bottom: 10px;
}

main section:first-child h2
{ 
  align-self: center;
  font-size: 16px;
  margin-right: 25px;
  width: 52px;
  height: 20px;
}

main section:first-child div
{
  display: flex;
}

main section:first-child h2
{ 
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}

section:first-child span
{
  width: 48px;
  height: 48px;
  font-size:18px;
  color:#0065FC;
  background-color: #DEEBFF;
  padding: 15px;
  border-radius: 50px;
  margin:-3px 10px 0 -10px;
}


/* Filters buttons - desktop */ 

.filter-buttons
{
  display: flex;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  background-color: white;
  border: 2px #F2F2F2 solid;
  border-radius: 100px;
  padding-right: 18px;
  margin-right: 15px;
  margin-bottom: 10px;
  height: 48px;
  background: linear-gradient(to right, #DEEBFF 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

/* Buttons filter animation */

 .filter-buttons:hover
{
  background-color: #DEEBFF;
  background-position:left bottom;
  transition: 1.4s ease-out;
}

.filter-buttons:hover span
{
  transform: translateX(10px) rotateY(360deg);
  margin-top: -1px;
  padding-top: 13px;
  height: 40px;
  transition: 1.3s ease;
}


/* Information section - desktop*/

section:nth-child(2)
{
  display: flex;
  font-size: 15px;
  margin-bottom: 25px;
}

#information
{
  font-size: 15px;
  color: #0065FC;
  align-self: center;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 15px 10px 10px 0;
  padding: 4px;
  border: 2px lightgray solid;
  border-radius: 100%;
}

section:nth-child(2) p
{
  line-height: 60px;
}

/*Lodging section - "Lodging" - desktop*/

section:nth-child(3)
{
  display: flex;
  width: 100%; 
  margin-bottom: 60px;
}

section:nth-child(3) article
{
  width: 70%;
  border-radius: 12px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
}

section:nth-child(3) article header
{
  margin-left: 0;
  padding-left: 3%;
}

section:nth-child(3) header h2
{
  font-size: 18px;
  padding-top: 40px;
  text-align: left;
}

#lodging-city
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.card-lodging
{ 
  border: 1px solid white;
  border-radius: 18px;
  width: 28%;
  height: 180px;
  background-color: white;
  margin: 0 0 25px 0;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-lodging:hover
{
  
  transition: 0.5s;
  transform: scale(1.1);
}

.card-lodging img
{
  width: 100%;
  height: 100px;
  object-fit:cover;
  border-radius: 12px 12px 0 0;
}

.card-lodging h3
{
  font-size: 13px;
  margin: 6px 0 0 8px;
}

.card-lodging p
{
  width: 124px;
  font-size: 12px;
  margin: 6px 0 0 8px;
}

.card-lodging .notation
{
  display: flex;
  margin: 8px 0 0 8px;
}

section:nth-child(3) footer
{
  font-weight: bold;
  height: 17px;
  margin: 10px 0 15px 0;
}

/* Lodging section - "Populars lodging" - desktop*/

section:nth-child(3) aside
{
  width: 28%;
  border-radius: 12px;
  background-color:#F2F2F2;
  margin: 0 0 0 5%;
}

section:nth-child(3) aside header
{
  display: flex;
  margin-left: 0px;
  justify-content: space-between;
  padding: 0 8% 0 8%;
}

section:nth-child(3) aside header h2
{
  font-size: 20px;
  padding-top: 40px;
}

section:nth-child(3) aside header span
{
  margin-top: 41px;
  font-size: 18px;
}

section:nth-child(3) aside div
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-popular
{
  border-radius: 18px;
  background-color: white;
  width: 85%;
  height: 130px;
  display: flex;
  padding: 5px 5px 5px 5px;
  margin: 20px 0 5px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-popular:hover
{
  transition: 0.5s ease;
  transform: scale(1.1);
}

.card-popular figure
{
  display: flex;
  width: 100%;
}

.card-popular figcaption
{
  display: flex;
  flex-direction: column;
  padding-left: 15px; 
}

.card-popular img
{
  width: 45%;
  height: 100%;
  object-fit:cover;
  border-radius: 14px 0 0 14px;
}

.card-popular h3
{
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 13px;
}

.card-popular p
{
  font-size: 12px;
}

.card-popular .notation
{
  flex-direction: row;
  padding-top: 100px;
  position: absolute;
}

/* Activities section - desktop*/

section:last-child
{
  margin-bottom: 50px;
}

section:last-child header
{
  margin: 0;
}

section:last-child header h2
{
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 18px;
}

section:last-child article
{ 
  height: 500px;
  display: flex;
  flex-flow: column wrap;
}

.card-activities
{
  border-radius: 28px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 23%;
  margin-right: 20px;
}

.card-activities img
{
  border-radius: 20px 20px 0 0;
  width: 100%;
  object-fit: cover;
}

.card-activities h3
{
  font-size: 14px;
  margin-left: 15px;
  padding-top: 20px;
  height: 50px;
}

.card-activities:hover
{
  transition: 0.5s;
  transform: scale(1.1);
}

.card-activities:nth-child(1) img
{
  height: 415px;
}

.card-activities:nth-child(2)
{
  margin-bottom: 38px;
}

.card-activities:nth-child(2) img
{
  height: 200px;
}

.card-activities:nth-child(3) img 
{
  height: 125px;
}

.card-activities:nth-child(4) img
{
  height: 415px;
}

.card-activities:nth-child(5)
{
  margin-bottom: 38px;
}

.card-activities:nth-child(5) img
{
  height: 160px;
}

.card-activities:nth-child(6)  img
{
  height: 165px;
}

/* Star cards */

.default-star
{
  color: #F2F2F2;
  font-size:11px;
}

.blue-star
{
  color: #0065FC;
  font-size: 11px;
}


/* FOOTER - desktop*/

footer
{
  background-color: #F2F2F2;
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
  padding-left: 3%;
}

footer h2
{
  font-size: 16px;
  margin-bottom:18px;
}

footer div
{
  margin-top: 40px;
  padding-right: 18%;
}

footer li
{
  margin-top: 10px;
  font-size: 14px;
}

footer li:hover
{
  text-decoration: underline;
}


@media screen and (max-width: 992px)
{

  main
  {
    margin: 0;
  }

  /* Header tablet*/

  header 
  {
    margin: 0;
    width: 100%;
  }

  header img
  {
    margin-left: 55px;
    margin-top: 20px;
  }

  header div:last-child
  {
    margin-left: 4%;
  }

  /* Header - search form - tablet*/

  #position-form
  {
    border-radius: 12px 0 0 12px;
  }

  /* MAIN - tablet */

  main section:first-child
  {
    width: 100%;
    flex-direction: column;
  }

  .filter-buttons
  {
    font-size: 15px;
  }

  /* Filters section - tablet */ 

  main section:first-child h2
  {
    margin-bottom: 20px;
  }

  main section:first-child div
  {  
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Filters buttons - tablet */ 

  .filter-buttons
  {
    margin-right: 10px;
  }

  /* Information section - tablet*/

  main section:nth-child(2)
  {
    justify-content: center;
    margin-right: 50px;
  }

  /*Lodging section - "Lodging" - tablet*/

  main section:nth-child(3)
  {
    width: 100%;
    flex-direction: column-reverse;
  }

  main section:nth-child(3) header
  {
    margin: 0;
  }

  main section:nth-child(3) header h2
  {
    margin: 3% 0 3% 0;
    text-align: center;
    width: 100%;
    font-size: 21px;
  }

  main section:nth-child(3) article
  {
    width: 100%;
    border-radius: 0px;
  }

  .card-lodging h3
  {
    font-size: 15px;
  }

  .card-lodging p
  {
    font-size: 13px;
  }

  .card-lodging .notation
  {
    margin: 8px 0 0 8px;
  }

  /* Lodging section - "Populars" - tablet*/

  main section:nth-child(3) aside
  {
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
    border-radius: 0px;
  }

  main section:nth-child(3) aside header
  {
      margin: auto;
      padding: 0 24% 0 26%;
  }

  main section:nth-child(3) aside header h2
  {
    margin: 25px 0 25px 0;
    padding-left: 5px;
    font-size: 20px;
    padding: 0;
    text-align: left;
  }

  main section:nth-child(3) aside header span
  {
    font-size: 20px;
    margin: 25px 0 0 0;
    padding-right: 5px;
  }

  main section:nth-child(3) aside div
  {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  .card-popular
  {
    width: 50%;
    height : 160px;
    margin: 10px 1% 10px 2%;
  }

  .card-popular figcaption
  {
    padding-left: 25px;
    width: 180px;
  }

  .card-popular h3
  {
    font-size: 18px;
  }

  .card-popular p
  {
    font-size: 15px;
  }

  .card-popular .notation
  {
    padding-top: 120px
  }

  .blue-star, .default-star
  {
    font-size: 14px;
  }

  /* Activities section - tablet*/

  main section:last-child header h2
  {
    width: 100%;
    text-align: center;
  }

  main section:last-child article
  {
    width: 100%;
    height: 320px;
    padding-left: 10px;
  }

  .card-activities
  {
    width: 23%;
  }

  .card-activities h3
  {
    font-size: 11px;
    margin-left: 10px;
  }

  .card-activities:nth-child(1) img
  {
    height: 255px;
  }

  .card-activities:nth-child(2)
  {
    margin-bottom: 30px;
  }

  .card-activities:nth-child(2) img
  {
    height: 100px;
  }

  .card-activities:nth-child(3) img 
  {
    height: 70px;
  }

  .card-activities:nth-child(4) img
  {
    height: 255px;
  }

  .card-activities:nth-child(5)
  {
    margin-bottom: 30px;
  }

  .card-activities:nth-child(5) img
  {
    height: 80px;
  }

  .card-activities:nth-child(6) img
  {
    height: 90px;
  }

  /* FOOTER - tablet*/

  footer div
{
  padding-right: 14%;
}

  footer h1
  {
    font-size: 14px;
  }

  footer li
  {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) 
{

    /* Header - hight mobile*/

  header
  {
    margin: 0;
  }

  #head
  {
    flex-direction: column;
  }

  header img 
  {
    width: 120px;
    height: 50px;
    margin: 0;
    padding-left: 30px;
    align-self: center;
  }
  
  #head nav
  {
    display: flex; 
    width:100%;
    justify-content: center;
  }

  header ul
  {
    width: 100%;
    padding: 0;
  }

  header li
  {
    font-size: 18px;
    height: 70px;
    border-bottom: 3px whitesmoke solid;
    padding-bottom: 20px;
    margin-right: 1px;
  }

  header nav li:hover
  {
    border-top: none;
  }

  header div:nth-child(2)
  {
    margin-left: 5%;
    margin-bottom: 30px;
  }

  header h1
  {
    font-size: 24px;
    height: 100%;
    width: 100%;
  }

  header p
  {
    font-size: 20px;
    width: 100%;
  }

  /* Header - search form - hight mobile */

  header div:last-child nav
  {
    margin-right: 0;
    margin-top: 20px;
  }

  header nav:last-child
  {
    width: 100%;
  }

  #position-form
  {
    font-size: 19px;
    height: 60px;
    width: 60px;
  }

  input[type="search"]
  {
    font-size: 22px;
    height: 60px;
    width: 330px;
  }

  input[type="button"]
  {
    display:none;
  }

  #loop
  {
    display: initial;
    position: absolute;
    font-size: 20px;
    text-align: center;
    height: 59px;
    width: 58px;
    border-radius: 18px;
    margin: 0 0 0 370px;
    padding-top: 20px;
    color: white;
    background-color:dodgerblue;
  }

  /* MAIN - hight mobile */
  main
  {
    margin: 0;
  }

  /* Filters section - hight mobile*/ 

  main section:first-child
  {
    width: 100%;
    padding-left: 3%;
  }

  main section:first-child h2
  {
    align-self: inherit;
    font-size: 22px;
  }

  main section:first-child p
  {
    padding-left: 10px;
  }

  main section:first-child div
  {
    justify-content: left;
  }

  /* Filters buttons - higth mobile */ 

  .filter-buttons
  {
    margin-right: 20px;
  }

  .filter-buttons:nth-child(4)
  {
    width: 210px;
  }

  /* Information section - hight mobile*/

  main section:nth-child(2)
  {
    width: 100%;
    padding-left: 3%;
    justify-content: left;
    margin-right:0;
  }

  /* Lodging section - "Populars" - hight mobile*/

  main section:nth-child(3) aside
  {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  main section:nth-child(3) aside header
  {
    width: 450px;
    padding: 0;
  }

  main section:nth-child(3) aside header h2
  {
    font-size: 25px;
  }

  main section:nth-child(3) aside header span
  {
    padding-right: 0;
  }
  
  
  
  main section:nth-child(3) aside div
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-popular
  {
    margin: 0;
    margin-bottom: 25px;
    max-width: 460px;
    width: 85%;
    height: 180px;
  }

  .card-popular figcaption
  {
    padding-left: 30px;
    width: auto;
  }

  .card-popular img
  {
    width: 45%;
  }

  .card-popular h3
  {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .card-popular p
  {
    font-size: 17px;
  }

  .card-popular .notation
  {
    width: auto;
    margin: 0;
    padding-top: 140px;
  }

  /*Lodging section - "Lodging" - hight mobile*/

  main section:nth-child(3) article
  {
    background-color: white;
    width: 100%;
  }

  main section:nth-child(3)
  {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  main section:nth-child(3) article header
  {
    margin-top: 40px;
    margin-bottom: 25px;
  }

  main section:nth-child(3) article header h2
  {
    font-size: 25px;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 145px;
  }

  #lodging-city
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }

  section:nth-child(3) footer
  {
    background-color: white;
    align-items: center;
    padding-right: 350px;
  }

  section:nth-child(3) footer p
  {
    font-size: 22px;
    width: 150px;
  }

  main section:nth-child(3) article.notation
  {
    display: flex;
    flex-direction: row;
  }

  main section:nth-child(3) .blue-star, .default-star
  {
    font-size: 14px;
  }

  .card-lodging
  {
    margin: 0;
    margin-bottom: 30px;
    max-width: 450px;
    width: 85%;
    height: 250px;
  }

  .card-lodging img
  {
    height: 160px;
  }

  .card-lodging h3
  {
    margin-top: 5px;
    width: 300px;
    font-size: 20px;
  }

  .card-lodging p
  {
    margin-top: 8px;
    font-size: 17px;
    width: 200px;
  }

  .card-lodging .notation
  {
    margin: 10px 0 0 8px;
  }

  /* Reorder cards - hight mobile */

  .card-lodging:nth-child(2)
  {
    order:4;
  }

  .card-lodging:nth-child(3)
  {
    order: 2;
  }

  .card-lodging:nth-child(4)
  {
    order: 5;
  }

  .card-lodging:nth-child(5)
  {
    order: 3;
  }

  .card-lodging:nth-child(6)
  {
    order: 6;
  }

  /* Activities section - hight mobile*/

  main section:nth-child(4)
  {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  main section:nth-child(4) header
  {
    padding-right: 210px;
  }

  main section:nth-child(4) header h2
  {
    text-align: center;
    font-size: 25px;
  }

  main section:nth-child(4) article
  {
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .card-activities
  {
    margin: 0;
    margin-bottom: 30px;
    max-width: 450px;
    width: 85%;
    height: 250px;
  }

  .card-activities h3
  {
    margin: 6px 0 0 15px;
    font-size: 18px;
  }

  .card-activities:nth-child(2), .card-activities:nth-child(5)
  {
    margin-bottom: 30px;
  }

  .card-activities img
  {
    max-height: 190px;
  }

  .card-activities:nth-child(2) img
  {
    height: 190px;
  }

  .card-activities:nth-child(3) img
  {
    height: 190px;
  }
    
  .card-activities:nth-child(5) img
  {
    height: 190px;
  }

  .card-activities:nth-child(6) img
  {
    height: 190px;
  }

  /* FOOTER - hight mobile*/

  footer
  {
    flex-direction: column;
    height: auto;
  }

  footer h2
  {
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  footer div
  {
    padding-right: 0;
    margin-left: 5%;
    margin-top: 0;
  }

  footer ul
  {
    width:auto;
  }

  footer li
  {
    font-size: 16px;
    margin-bottom: 18px;
  }
}

  @media screen and (max-width: 520px)
  {

    /* Header - medium mobile*/

    header h1
    {
      width: 100%;
      font-size: 21px;
    }

    header p
    {
      width: 100%;
      font-size : 18px;
    }

    /* Header - search form - medium mobile */

    header form
    {
      width: 100%;
    }

    header div:last-child
    {
      margin-left: 3%;
    }

    #position-form
    {
      height: 50px;
      width: 50px;
      font-size: 17px;
      border-radius: 13px 0 0 13px;
    }

    input[ type="search"]
    {
      font-size: 18px;
      width: 250px;
      height: 50px;  
    }

    #loop
    {
      font-size: 16px;
      height: 50px;
      width: 50px;
      padding-top: 16px;
      margin-left: 280px;
      border-radius: 15px;
    }

    /* MAIN - filters section - medium mobile*/ 

    main section:first-child
    {
      width: 100%;
      padding-left: 3%;
    }

    /* Information section - medium mobile*/
    
    main section:nth-child(2)
    {
      width: 100%;
      padding-left: 3%;
    }

    section:nth-child(2) p
    {
      line-height:normal;
      margin-top: 15px;
      font-size: 16px;
    }

    /* Lodging section - "Populars" - medium mobile*/

    main section:nth-child(3) aside header
    {
      width: 100%;
      justify-content: space-between;
      padding-top: 20px;
    }

    main section:nth-child(3) aside header h2
    {
      font-size: 22px;
      text-align: left;
      width: auto;
      margin-top: 0;
      padding-left: 8%;
    }

    main section:nth-child(3) aside header span
    {
      padding-right: 8%;
      margin: 0;
    }

    .card-popular
    {
      height: 160px;
    }

    
    .card-popular figcaption
    {
      width: auto;
      padding-left: 10px;
    }

    .card-popular h3
    {
      font-size: 18px;
    }

    .card-popular p
    {
      font-size: 15px;
    }

    .card-popular .notation
    {
      padding-top: 130px;
    }

    /*Lodging section - "Lodging" - medium mobile*/

    main section:nth-child(3) article header h2
    {
      width: auto;
      text-align: left;
      padding-right: 0;
      padding-left: 5%;
      font-size: 22px;
    }
  
    main section:nth-child(3) article footer
    {
      margin-left: 4%;
      font-size: 20px;
    }

    /* Activities section - medium mobile*/

    main section:last-child header
    {
      padding: 0 0 0 8%;  
    }

    main section:last-child header h2
    {
      text-align: left;
    }

    /* FOOTER - medium mobile*/

    footer div
    {
      margin-left: 5%;
    }

  }

  @media screen and (max-width: 320px)
  {
    /* Header - small mobile*/

    header li
    {
      font-size: 15px;
    }

    header h1
    {
      width: 100%;
      font-size: 18px;
      width: 100%;
    }

    header p
    {
      width: 100%;
      font-size: 13px;
    }

    /* Header - search form - small mobile */

    header form
    {
      margin-bottom: 0;
    }

    #position-form
    {
      height: 45px;
      width: 45px;
      font-size: 14px;
      border-radius: 13px 0 0 13px;
    }

    input[ type="search"]
    {
      font-size: 14px;
      width: 180px;
      height: 45px;  
    }

    #loop
    {
      font-size: 16px;
      height: 45px;
      width: 45px;
      padding-top: 13px;
      border-radius: 15px;
      margin-left: 210px;
    }

    /* MAIN - filters section - small mobile*/

    main section:first-child
    {
      margin-left: 5%;
    }

    main section:first-child h2
    {
      font-size: 18px;
    }

    main section:first-child p
    {
      font-size: 15px;
    }

    /* Logo information section - small mobile */


    #information
    {
      width: 35px;
    }

    /* Lodging section - "Populars" - small mobile*/

    main section:nth-child(3) aside header h2
    {
      font-size: 18px;
      padding-left: 25px;
    }

    main section:nth-child(3) aside header span
    {
      padding-right: 25px;
    }

    .card-popular
    {
      height: 120px;
    }
    .card-popular img
    {
      width: 40%;
    }

    .card-popular h3
    {
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 10px;
    }

    .card-popular p
    {
      font-size: 12px;
    }

    .card-popular .notation
    {
      padding-top: 90px;
    }

    /*Lodging section - "Lodging" - small mobile*/

    main section:nth-child(3)
    {
      margin-bottom: 25px;
    }

    main section:nth-child(3) article header h2
    {
      font-size: 18px;
    }

    .card-lodging
    {
      height: 200px;
    }

    .card-lodging img
    {
      height: 110px;
    }

    .card-lodging h3
    {
      font-size: 14px;
    }

    .card-lodging p
    {
      font-size: 12px;
    }

    main section:nth-child(3) footer a
    {
      font-size: 18px;
    }

    /* Activities section - small mobile*/

    main section:last-child header
    {
      padding-left: 7%;
      margin: 0;
    }

    main section:last-child header h2
    {
      font-size: 18px;
    }

    .card-activities
    {
      height: 200px;
    }

    .card-activities img
    {
      max-height: 140px;
    }

    .card-activities h3
    {
      font-size: 15px;
      margin-left: 20px;
      padding-top: 15px;
    }

    /* FOOTER - small mobile*/

    footer div
    {
      margin-left: 10px;
    }

    footer li
    {
      font-size: 16px;
    }
  }